body{
	background-image:url("../img/main/coffee-beans.jpg");
	background-size: 100%; 
}
.main-body {
	background-color: #F6E1C3;
	color: #A84448;
	display: flex;
}
.main-body-title{width: 90%;}
.main-body-title > h3{text-align: center;}
.main-body-title-member {
	margin: 20px 10px 0 auto;
}
a{text-decoration: none; color: #7A3E65;}
a:hover{color: #3f3f3f; font-weight: bold;}
a::visited{color: #7A3E65;}