#home-body{
	background-image:url("../img/main/coffee-beans.jpg");
	background-size: 100%; 
}
.main-header {
	background-color: #EAC7CC;
	color: #A84448;
	display: flex;
	border-radius: 5px;
	width: 100%;
}
.main-header-title{float:left; margin: 20px 10px; width: 80%;}
.main-header-title-member, .main-header-title-member_in {
	margin: 20px 10px 0 1px;
}
li{display: inline-block; float: left;}
.main-header a{text-decoration: none; color: #7A3E65; padding: 19px 10px 21px;}
.main-header a:hover{color: #3f3f3f; font-weight: bold;}
.main-header a::visited{color: #7A3E65;}

.main-header-title-member_in img{
	width: 30px;
	margin-left: 5px;
	float: right;
	vertical-align: bottom;
}